[2009-04-29 13:46] mikezaschka opened #1 "Associations not working in production mode"
I have got a problem with acts_as_paranoid and associations in production mode (development works fine).

[code]

When I call Activity.destroy(x), everything workes fine.  But when I want to destroy the User (and the activities with it), I get an \*  TypeError: can't modify frozen hash\* error. I do have some equivalent associations and always get an error, when I want to destroy an object, with a

[2009-06-09 22:14] aselder opened #2 "Recover! does not work with non-standard attribute name"
The recover! method explicitly sets the deleted_at attribute rather than using the deleted_attribute class variable.

[2009-06-09 22:36] aselder opened #3 "destroy_without_callbacks doesn't respect deleted_attribute"
the destroy_without_callbacks explicitly references deleted_at, rather than the possibly overridden deleted_attribute value.

[2009-06-09 22:50] aselder opened #4 "deleted? doesn't respect the deleted_attribute variable"
The deleted? method doesn't respect the deleted_attribute variable. It is hard coded to deleted_at

[2009-07-14 06:30] leandro opened #5 "Why not to have methods like last_with_deleted, first_with_deleted and so forth?!?!"
I guess it'd be very apreciated.

[2010-10-09 06:13] laknath opened #6 "can't modify frozen hash with accepts_nested_attributes_for delete"
When used with accepts_nested_attributes_for with a has_many association, only when using :allow_destroy for accepts_nested_attributes_for, the associated class which acts_as_paranoid gives this error.

can't modify frozen hash
/home/buddhika/www/payments_staging/vendor/rails/activerecord/lib/active_record/attribute_methods.rb:313:in `[]='
/home/buddhika/www/payments_staging/vendor/rails/activerec

[2010-10-19 14:43] MartinKoerner opened #7 "destroy! doesn't set @destroyed-Attribute"
Original ActiveRecord-Behaviour:
    record.destroy
    record.deleted? => true

With acts_as_paranoid
    record.destroy
    record.deleted? => false

but
    record.destroy
    record.reload
    record.deleted? => true

acts_as_paranoid will update the deleted_at flag without setting it to the object, so deleted? won't know, that the object was deleted. Since you call freeze, I think, deleted? s

[2011-03-03 19:34] jritzi opened #9 "Works with associations?"
First, I can't seem to find much documentation at all on this gem.

Second, is there any way to use this with associations? For example, `user.groups_with_deleted` or something along those lines?

[2012-12-24 21:04] gvieira opened #10 "Inheritance behaviour"
Hi there,

I know it is almost christmas, but this situation doesn't leave my mind and I have to write it down.
Congrats for this great plugin!

I'm using [CITIER](https://github.com/PeterHamilton/citier), so I have a main class named `Media` and many children, like `FileMedia`, `PackageMedia` and so on. Also, I have a table for every single table and, for retrieving children data, I use views, li

[2013-01-11 10:25] bahularora opened #11 "deleted_before_time and deleted_after_time not working"
deleted_before_time is not working, it fires this query  "SELECT `customers`.\* FROM `customers` WHERE (`customers`.`deleted_at` IS NULL) AND (deleted_at < '2013-01-11 09:40:29')"

[2013-05-31 10:24] donv opened #12 "deleted_at column should be mass-assignable"
Hi!

acts_as_paranoid 0.4.2 made the "deleted_at" column not mass_assignable.  We depend on it being mass-assignable, and we think it should be treated as a regular attribute.

Could you revert the change?

If you cannot revert the change, could you make this behaviour optional?

Thanks for a very useful gem.

[2014-08-11 04:57] #1 closed, assigned to nobody

[2014-08-11 04:57] #12 closed, assigned to nobody

[2014-08-11 04:57] #11 closed, assigned to nobody

[2014-08-11 04:57] #10 closed, assigned to nobody

[2014-08-11 04:58] #9 closed, assigned to nobody

[2014-08-11 04:58] #7 closed, assigned to nobody

[2014-08-11 04:58] #6 closed, assigned to nobody

[2014-08-11 04:59] #5 closed, assigned to nobody

[2014-08-11 04:59] #4 closed, assigned to nobody

[2014-08-11 05:17] #2 closed, assigned to nobody

[2014-08-11 05:17] #3 closed, assigned to nobody

[2014-08-26 13:27] bricedurand opened #16 "Unknown column 'users.deleted_at' error when running migration"
Hello, I'm having an issue with migrations on models with acts_as_paranoid. Here's what the migration looks like :

[code]

When I run a rake db:migrate from a clean database, I get the following error :

[code]

My User model has the line `acts_as_paranoid` in it. Any idea where the issue might come from?

[2014-08-29 00:08] zekefast opened #17 "Feature: Remove condition for joins."
It would be awesome if you would add ability to unscope joins or let unscoped affect joined associations as well.

Now there is no way to include deleted associations into joined conditions. It always adds something like `"rabbits"."deleted_at" IS NULL` to the `FROM carrots INNER JOIN rabbits ON rabbits.id = carrots.rabbit_id`.

[2014-10-09 09:01] #16 closed, assigned to nobody

[2014-10-10 16:50] suan opened #20 "validates_uniqueness_of_without_deleted undefined in Rails 4.2"
More of an FYI I suppose since 4.2 is not official yet, but the above method is undefined both on master and on 0.5.0.beta1 when used as instructed in the README

[2014-10-22 21:09] noctivityinc opened #21 "Using with public_activity gem"
I am using ```https://github.com/pokonski/public_activity``` on a number of models that I am protecting with acts_as_paranoid.  Right now when an associated record that is tracked is destroyed, it cannot be viewed in rendered activities because the polymorphic association checks for records that are not deleted, which is standard behavior with the gem.  I would like, however, to be able to overrid

[2014-10-23 00:35] noctivityinc opened #22 "ArgumentError: Unknown key: with_deleted"
Is the with_deleted option on be belongs_to or has_many no longer available?

[2014-10-23 00:38] #22 closed, assigned to nobody

[2014-10-27 17:44] pblogs opened #23 "I'm getting a Multiple Assignment error?"
So, I have 3 tables Accounts, Users, and Subscriptions all of which have the deleted_at column. Now when I delete an account the request gets sent to all models at once causing a Multiple Assignments error as shown below:

[code]

What can we do to fix this?

See the full logs below by visiting the Gist link: https://gist.github.com/rmagnum2002/2358536587bb34dbbc52

[2015-01-02 13:14] iffyuva opened #27 "delete_all with associations"
i have upgraded from rails 4.0.2 to 4.1.8, and i'm facing this issue with associations

[code]

is this a known issue?

[2015-01-15 14:55] ruprict opened #28 "Using with_deleted on belongs_to breaks class reflections?"
I am upgrading a Rails 3.2 app to 4.0 that uses acts_as_paranoid, and I've switched to this gem.  After upgrading, many of tests were failing with

[code]

which was coming from the ActiveRecord `reflections` method. Each association in AR adds an entry to the `_reflections` hash. When I do something like:

[code]

it adds a (seemingly) bogus entry into `_reflections`

[code]

(the `with_deleted`

[2015-02-05 11:06] jodosha opened #29 "Wrong SQL generated for with_deleted"
Hello, at Litmus we have two classes `Account` and `User` in a "1 to n" relationship.
We use `acts_as_paranoid` in both the classes.

We're upgrading to Rails 4.2, and we noticed this wrong generated SQL.

[code]

The expected query is:

[code]

This is already solved by https://github.com/ActsAsParanoid/acts_as_paranoid/pull/26 Can you please merge it? :blue_heart: :green_heart: :heart: :yellow_h

[2015-02-14 19:01] pelargir commented on #17
I'm having a similar problem, except with #includes instead of #joins. Here's an example:

    class Schedule < ActiveRecord::Base
      belongs_to :resource, with_deleted: true
    end

    class Resource < ActiveRecord::Base
    end

    Schedule.all.includes(:resource)

Running the code above results in the following queries being executed:

  SELECT `schedules`.* FROM `schedules`
  SELECT `res

[2015-02-16 01:55] zzak commented on #17
@pelargir I see, thank you!

[2015-03-11 03:47] bradseefeld commented on #17
I am having the same problem as @pelargir with the `:includes` on a `belongs_to` which is configured for `with_deleted: true`. Any progress on merging the pull-request?

[2015-03-11 15:57] allaire commented on #20
Any update on this @zzak ?

[2015-03-11 18:13] zzak commented on #20
@allaire there is a patch, maybe you can point your Gemfile to @mvz's `fix-build` branch?

https://github.com/mvz/acts_as_paranoid/tree/fix-build

If you try it please report any issues to #26, thank you!

[2015-03-17 06:17] krainboltgreene opened #31 "Create :without_deleted scope for things like acts_as_list"
So `acts_as_list` has functions that are unscoped, which is unfun when using acts_as_paranpod. This is an easy fix though:

  1. Turn `default_scope { where(paranoid_default_scope_sql) }` into `default_scope { without_deleted }`
  2. Create a new scope: `scope :without_deleted, -> { where(paranoid_default_scope_sql) }`
  3. Document it

Thoughts?

[2015-03-17 06:32] krainboltgreene commented on #31
Apparently "paranoia_scope" exists and I just can't find it in the source.

[2015-03-17 06:32] #31 closed

[2015-03-27 18:19] imfuna opened #32 "Documentation says .recover to restore deleted model but you need to do .restore"
Checked tests and recovery is now done with .restore.

[2015-04-06 19:50] pkarman commented on #28
+1 to this problem, also seen when migrating from Rails 3.2 to 4.2.

[2015-04-30 18:51] itsNikolay commented on #28
+ 1 from rails 3 to 4 migration

[2015-05-20 10:47] boxofrad opened #33 "`#reload` doesn't raise `ActiveRecord::RecordNotFound` for soft deleted objects"
Hey there!

Not sure if this is a bug or the intended behaviour, but we had a test that looked a little like this:

[code]

Which worked without `acts_as_paranoid` but fails with it because `#reload` doesn't raise `ActiveRecord::RecordNotFound` for soft deleted objects.

We can work around this by changing our assertion to this:

[code]

But I thought it may be worth discussion / what do you think

[2015-08-24 21:15] vaughanj10 commented on #20
+1

[2015-10-01 11:37] McRip opened #36 "NameError: undefined method `validate_find_options' for class `Class'"
I have just integrated the gem into the Gemfile of my Rails 4.2.4 Application, and this is what i got when trying to restart the development server. Is this a compatibility issue?

Stacktrace:
[code]

[2015-10-03 13:52] hojberg commented on #36
Having this issue as well.

[2015-10-05 06:18] zzak commented on #36
It looks like you (bundler) have activated an older version of the gem "`acts_as_paranoid-0.3.1`" based on the log you pasted.

Could you verify?

[2015-10-05 15:16] eidge commented on #36
Yup, using ```gem 'acts_as_paranoid', github: 'ActsAsParanoid/acts_as_paranoid'``` solves it for me.

I wonder why bundler is using an older version though.

[2015-10-16 08:32] zzak commented on #36
I'm not sure, maybe it was cached in your Gemfile.lock?

Please re-open this issue if you have any trouble with the release.

Thanks!

[2015-10-16 08:32] #36 closed

[2015-10-22 20:45] Jerph commented on #32
You may be thinking of the [Paranoia gem](https://github.com/radar/paranoia), which has a similar API but is different in this case.

[2015-10-28 08:49] zzak commented on #32
I'm not sure, but we don't have `restore` in this project.

It's possible you are thinking of a different gem, please confirm and re-open if you have any issues. <3

[2015-10-28 08:49] #32 closed

[2015-10-28 08:50] zzak commented on #33
Do you still have this problem after upgrading?

Thanks

[2015-10-28 08:50] zzak commented on #29
@jodosha Was this fixed? <3

[2015-10-28 08:50] zzak commented on #28
This should be fixed by now, can you confirm? <3

[2015-10-28 08:51] zzak commented on #27
@iffyuva Does this issue still affect you on the latest version?

[2015-10-28 08:51] zzak commented on #23
@pblogs If you update the gem, do you still get this error?

[2015-10-28 08:53] zzak commented on #21
So it seems there is a workaround for this issue ( chaps-io/public_activity#186 ), and I'm not sure there's anything we can do about it here.. so close.

[2015-10-28 08:53] #21 closed

[2015-10-28 08:54] zzak commented on #20
This should be fixed in the last release, please check it. <3

[2015-10-28 08:56] zzak commented on #17
I'll see if we can get this cleaned up and merged before the final release <3

[2015-10-28 09:02] iffyuva commented on #27
@zzak you mean on rails 4.2.4 ?

[2015-10-28 09:14] zzak commented on #27
@iffyuva The latest version of `acts_as_paranoid`: https://rubygems.org/gems/acts_as_paranoid/versions/0.5.0.beta2

[2015-10-28 09:48] boxofrad commented on #33
@zzak Thanks for getting back to me :smile:
I actually no longer work on the project anymore so couldn't tell you!

Feel free to close

[2015-10-28 13:01] ruprict commented on #28
Unfortunately, I have moved on from that project and can't confirm it. Any chance one of the other commenters can check it easily?

[2015-10-28 21:51] pkarman commented on #28
I've also moved on from that project. We moved entirely away from this gem in the meantime:
https://github.com/popuparchive/pop-up-archive/blob/master/Gemfile#L90

[2015-10-29 08:17] jodosha commented on #29
@zzak I can't verify anymore, cause not longer working on that code base :dancer:

[2015-11-04 18:51] ychaker commented on #36
Hey,
just wanted to report that I had the same issue, with a fresh install (no previous mention of the gem in the `Gemfile` or `Gemfile.lock`).

had to use `gem 'acts_as_paranoid', github: 'ActsAsParanoid/acts_as_paranoid'` to get around it.

[2015-11-17 07:57] zzak commented on #36
@ychaker The gem is still in pre-release state, so you will have to add the **exact** version to your Gemfile in order to get it.

[2015-11-20 14:05] pauldruziak opened #39 "`decrement_counters` stop working in rails 4"
I upgrading our app to rails 4 and found that now when user remove some record it's not decrement cached counters. Researching how to fix it. Maybe somebody has some idea.

[2015-11-20 14:07] paveldruzyak commented on #39
Actually `ActiveRecord::CounterCache.destroy_row` should be called, but this not happened.

[2016-01-01 08:59] Merovex commented on #21
The issue you reference @zzak is not a working work-around. Closed prematurely.

[2016-01-05 22:10] ajitdsa opened #42 "deleted_after_time not working properly"
Hi guys, I just installed the latest acts_as_paranoid and was trying to test out deleted_after_time.

[code]

There are definitely items that match, but it seems like the 1st WHERE condition is causing the problem. I don't think we need it. Am I missing something?

[2016-01-05 22:16] ajitdsa commented on #42
Hmm, actually I see in the core.rb file that the only_deleted method tries to look at string_type_with_deleted_value? to determine if it should use IS NOT NULL. I just looked in my database and the deleted_at column is a timestamp field, not a string. Is there somewhere else I should be checking?

[2016-01-13 19:50] jamilbk opened #43 "validates_uniqueness_of_without_deleted :column fails for serialized columns"
Rails 4.2.3
Ruby 2.3.0p0
Linux x86-64

[code]

This raises the exception `ActiveRecord::SerializationTypeMismatch: Attribute was supposed to be an Array, but was a String.` when calling `@foo.update_attributes` with a new `colors` array.

Are serialized fields supported by `validates_uniqueness_of_without_deleted`?

[2016-01-27 17:26] jthibeaux commented on #39
I just ran across this and was going in circles to trying to figure out if I was doing anything wrong or if this should be expected to work.  Hope the PR gets merged.

[2016-02-12 07:19] rohanpujaris opened #45 "Conflict with ActiveRecord destroyed? method"
ActiveRecord to have method name destroyed? (http://apidock.com/rails/ActiveRecord/Persistence/destroyed%3F). Can't we avoid `    alias_method :destroyed?, :deleted?`.

Due to overriding of destroyed? method by the gem we cannot use update_column or update_columns method on records which are soft deleted. (http://apidock.com/rails/ActiveRecord/Persistence/update_columns)

 This line throws excepti

[2016-03-02 14:53] timfenney opened #46 "Scope chaining broken on Rails 4.2.5.1?"
Hey there,

Just having some issues with scope chaining on Rails 4.2.5.1.

This works in Rails 3.7

[code]

However, in our Rails app on 4.2.5.1 it doesn't; we get a NoMethodError for undefined method `with_default_scope`.

The issue seems to be with `lib/core/acts_as_paranoid/core.rb`, line 82. That is calling the query method that was present in Rails 3 but not 4 AFAICT.

The temporary workaroun

[2016-04-07 16:49] fmnoise opened #50 "wrong sql generated when used with database_cleaner and multiple database adapters"
We found and issue, when `acts_as_paranoid` is used with `database_cleaner` gem and multiple database adapters like `mysql` and `postgresql`. We had the following errors

Pushed #49 for fixing it

[2016-04-25 23:55] jessegoodnoe opened #51 "destroy! and destroy_fully! not documented"
The documentation is incorrect for Real Deletion.

destroy! no longer does the actual deletion. It needs to be called twice, just like destroy.  If you want something destroyed permanently you need to call destroy_fully!

Per the commit comment:
[code]

[2016-05-06 08:47] sevaorlov commented on #45
I faced the same problem. Not sure what is the best approach, `record.destroyed?` is true after we call `record.destroy`, but rails checks that now in `update_column`.
Workaround is to clear `paranoid_value` before updating the column.
[code]

[2016-07-07 11:58] zzak commented on #20
Please try 0.5.0, this should be fixed now

[2016-07-07 11:58] #20 closed

[2016-07-07 12:05] zzak commented on #39
This should be fixed by #40

Thank you!

[2016-07-08 02:47] zzak commented on #50
I've merged #49 so this issue can be closed.

[2016-07-08 02:47] #50 closed

[2016-07-08 02:58] zzak commented on #17
I've merged #37 so closing this ticket.

[2016-07-08 02:58] #17 closed

[2016-07-08 03:02] zzak commented on #29
Since #26 was merged, we can close this. <3

[2016-07-08 03:02] #29 closed

[2016-07-08 03:21] zzak commented on #23
This is rather interesting..

`SQL (0.3ms)  UPDATE "subscriptions" SET deleted_at = '2014-10-27 17:38:48.909001', deleted_at = '2014-10-27 17:38:48.909025' WHERE (subscriptions.deleted_at IS NULL) ....`

The error is then `PG::SyntaxError: ERROR:  multiple assignments to same column "deleted_at"`

But I've never seen this error before, and no other reports or confirmations of this bug.

So I'm onl

[2016-07-08 03:21] #23 closed

[2016-07-08 03:25] zzak commented on #46
@mvz Do you have any ideas about this?

It seems like it might be related to 3bf46c2364b8d1256467211e92e6272a99f1e87a or 01bdce8585e15d05de8c38fc874183e6df590c83

[2016-07-08 03:27] zzak commented on #43
I haven't heard of anyone running into this issue before, but there might also be no tests for this behavior.

[2016-07-08 03:30] zzak commented on #45
I'm not sure the best way to work around this atm, open to suggestions in the form of a patch.

It seems like there's a reason for this behavior though, I would consider destroyed records to be immutable. But that could just be an edge case that was never thought of.

[2016-07-08 03:37] zzak commented on #28
I belive this was fixed by e8f7fbb1004c010e87cd11e648a914621c367043 and released in `0.5.0.beta2`.

If you're still having this issue please re-open the ticket.

Thank you!

[2016-07-08 03:37] #28 closed

[2016-07-08 03:41] zzak commented on #33
@boxofrad FWIW, I think this is unexpected behavior but probably because using `reload` is effectively doing the right thing. I would also assume that nowhere in an application can you "reload" a soft-deleted object that is still in memory, so this is really a non-issue. AR will always do a `find` on the class and your application should raise a `RecordNotFound` exception unless you specify `with_

[2016-07-08 03:41] #33 closed

[2016-07-08 03:51] zzak commented on #42
`deleted_at` should default to a `time` field anyways.

Based on this `only_deleted` should be using "IS NOT NULL"

@ajitdsa Are you still running into this problem? I just merged #34 which might be related.

[2016-07-08 03:51] zzak commented on #51
@jessegoodnoe Can you point me to the commit?

Also, brownie points for a PR to fix the documentation <3

[2016-07-08 03:52] zzak commented on #51
Nevermind, I found the commit: e8f7fbb1004c010e87cd11e648a914621c367043

[2016-07-08 04:25] zzak commented on #27
In fact, this seems like the current behavior from what I can see by the tests:
https://github.com/ActsAsParanoid/acts_as_paranoid/blob/master/test/test_relations.rb#L112

For example:
[code]
and
[code]

For whatever reason, we must do this.

You could simplify your code to just `r.bookings.order(:id).delete_all`, I believe.

So perhaps this could be improved in the documentation.

[2016-07-08 09:41] mvz commented on #46
Yes, I kind of see what happens: `.without_paranoid_default_scope` does a check that is supposed to differentiate between AR4.1 and lower. But since `.unscoped` already removes the acts as paranoid scope, the check has the wrong result.

That needs to be fixed of course, but I do wonder why you would call `.unscoped.with_deleted`, since the `.unscoped` should already give you the deleted records.

[2016-07-08 09:50] mvz commented on #46
I'll see if I can provide a fix as well.

[2016-07-08 10:00] zzak commented on #46
@mvz Thank you! :bow:

[2016-07-08 12:18] timfenney commented on #46
Now that you mention it I am not sure of the utility of the scope chaining example I had provided. It is probably just that that was in our codebase somewhere, and tests started failing after upgrade to Rails 4.whatever.

[2016-07-08 12:29] mvz commented on #46
I tried to reproduce this on current master and failed. Then I discovered this was already fixed in 17ce017c4bc8e96fb9f76f814cb36e917742ac60, with proper checks for the AR version :smile:.

[2016-07-09 02:50] zzak commented on #46
Great, thank you @mvz for your investigation <3 <3 <3

Closing this then!

[2016-07-09 02:50] #46 closed

[2016-07-09 04:21] zzak commented on #39
Unfortunately the patch in #40 didn't work with Rails 5, so it was reverted.

[2016-07-09 04:25] #51 closed

[2016-07-09 17:33] alikhan-io opened #52 "undefined method `validate_find_options' for class `"
With the latest version (5.0.rc1) I seem ot be getting an error generating a rails migration for acts_as_paranoid for a model that already exists.

rails generate migration MakeEventParanoid
/home/dominusk/.rvm/gems/ruby-2.3.0/gems/bundler-1.12.5/lib/bundler/runtime.rb:89:in `rescue in block (2 levels) in require': There was an error while trying to load the gem 'acts_as_paranoid'.
Gem Load Error

[2016-07-10 01:32] zzak commented on #52
@alikhan-io Thanks for trying the release candidate, and your report!

I will try to reproduce this error and see if I can fix it.

[2016-07-10 11:16] alikhan-io commented on #52
Derp. Closing this as I realized I was in fact -NOT- using the RC. Works fine! Positive vote for the RC! List of gems I am using it with just for additional positive compatibility knowledge.

gem 'devise', '~> 4.2'
gem 'pundit', '~> 1.1'
gem 'rolify', '~> 5.1'
gem 'paper_trail', '~> 5.2'
gem 'pg', '~> 0.18.4'
gem 'acts_as_paranoid', '~> 0.5.0.rc1'

[2016-07-10 11:16] #52 closed

[2016-07-17 03:59] mibamur opened #53 "DEPRECATION WARNING"
[code]

[2016-08-09 07:44] zzak commented on #53
@mibamur Could you submit a patch?

[2016-08-09 12:18] mibamur commented on #53
@zzak I have a few experience in it
not now, later

[2016-08-23 23:25] trcarden commented on #53
@zzak see: https://github.com/ActsAsParanoid/acts_as_paranoid/pull/55

[2016-08-29 10:28] mibamur commented on #53
https://github.com/ActsAsParanoid/acts_as_paranoid/pull/54

[2016-08-29 10:48] zzak commented on #53
@trcarden This patch is great if we want to drop backwards compatibility with older Ruby versions -- but at the moment I'd like to keep it for now.

Maybe we could submit that patch and start thinking about 1.0.0 w/ only modern versions of Ruby/Rails supported?

[2016-08-29 10:48] zzak commented on #53
@mibamur LGTM, if it kills the warning and doesn't change backwards compatibility.

[2016-08-29 14:16] mibamur commented on #53
@zzak

could we change https://github.com/ActsAsParanoid/acts_as_paranoid/pull/54 like this for backwards compatibility?

[code]

[2016-08-29 14:39] trcarden commented on #53
@zzak: Do you want me to move the gem's version to 1.0.0 in my patch set then and kill the old dependencies?

I think it makes sense to kill some of the older versions since Ruby 1.9 and 2.0 are now end of life
* https://www.ruby-lang.org/en/news/2016/02/24/support-plan-of-ruby-2-0-0-and-2-1/
* https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/

Also going along with #54 if

[2016-09-02 07:14] zzak commented on #53
It's trivial to maintain compatibility (one case statement), so I'd rather not drop support or bump major version at this time.

[2016-09-02 15:24] trcarden commented on #53
That's too bad. I don't think supporting ruby versions that are dead is worth it. Also this is a mature gem so bumping a major version isn't going to leave anyone out of new features. That said I am not going to maintain it so maybe it will make your life easier. I will keep my fork up there if people wanted to eventually make this gem use more modern techniques

[2016-09-02 18:01] mibamur commented on #53
could someone answer
is `if Rails::VERSION::STRING.to_f < 5 || RUBY_VERSION.to_f < 2` one of possible way?

[2016-09-19 08:13] tomajask opened #57 "'Recovering dependent associations' doesn't work"
Hi!

I've got a problem with recovering dependent associations. Here is my case.

I have a `SuperUser` class inherited from `User` class and this `SuperUser` `has_one` profile (`SuperUsersProfile`):

`SuperUser`:

[code]

`SuperUsersProfile`:

[code]

When I destroy particular SuperUser, it works perfectly fine. SuperUser is destroyed with its profile. Unfortunately it doesn't work for recovering.

[2016-09-19 18:59] BrianHawley commented on #53
https://bugs.ruby-lang.org/issues/10847 is a problem with stack overflows with `prepend`. It was fixed in Ruby 2.1.6 and 2.2.2, but not in any prior Ruby versions. You should check the earliest version of Ruby supported for use with the earliest version of Rails that you support, and write the code that works with that. Unless you can be sure that your code isn't affected, of course.

[2016-09-21 14:40] BrahimDahmani opened #58 "disable panaroid with some models"
I'm using Rails 5, i want the majority of models acts_as_panaroid so i did this

[code]

Now all my models are acting as panaroid, but i want to exclude some of them

Exemple:

[code]

[code]

[code]

[code]

I want `ClassC` not to acts_as_panaroid

is there any solution for that??

[2016-10-05 15:51] MrWilhelm commented on #53
Anything new about updating ? It's annoying and been months. Really.

[2016-10-05 16:12] zzak commented on #53
For the record, this is just a `WARNING` there is no need to take immediate action unless there is an actual bug.

As for getting this fixed, I already commented how I'd like to resolve this, anyone is free to submit a patch!

[2016-10-06 19:26] davidguthu commented on #39
Whats the status on this? Anyone working on it?

[2016-10-24 08:05] alexandre025 opened #59 "ArgumentError: Unknown key: :with_deleted"
Hi there, i found an issue with rails 5

For this classical model :

Anyone has the same problem ?

Thanks !

[2016-10-24 12:23] #59 closed

[2016-11-22 08:49] reinaris opened #61 "validates_uniqueness_of_without_deleted doesnt validate"
I have an issue with validates_uniqueness_of_without_deleted, it doesn't validate.

My model:
[code]

The spec:
[code]

The spec fails..

Rails 5, Ruby 2.3.0
Let me know if you need more details about my app/configuration.

[2016-11-25 15:14] reinaris commented on #61
I dived into this a little deeper, it has something todo with my app. The tests in acts_as_paranoid are fine and proofing the validation works.

[2016-12-13 00:41] rasaffie opened #64 "Add CONTRIBUTING.md"
Please specify the rules to contribute to this project.

[2016-12-14 15:42] nneufeld commented on #53
@zzak Is there any reason https://github.com/ActsAsParanoid/acts_as_paranoid/pull/54 can't be merged? Because it doesn't use `prepend`, it doesn't break compatibility, but it does get rid of the deprecation warning.

[2017-01-13 03:02] avinoth opened #65 "Support for recover!"
currently on `recover` method, it fails silently returning `false` when the validations for the model fails, similar to `create` or `update`. It would be nice to have a support for `recover!` method which raises an exception on validation fails.

I'm currently doing this by overriding `recover` in my model but it would be nice to have a support for this. I can create a PR for this if okay.

[2017-01-20 11:12] avinoth opened #66 "Have option to recover dependent associations after parent recover"
Currently the associations are recovered before the parent association is recovered. In the association though, there's no way to know if the recovery is propagating from the parent or was directly invoked.

[2017-01-23 18:57] shaw3257 opened #68 "has_many autosave doesn't work on paranoid value"
Hello,

When modifying a child object on a has_many association, the autosave option allows the child to save when the parent saves. This doesn't seem to work when manually setting the paranoid value because the records are skipped if they're _destroyed_ (https://github.com/rails/rails/blob/master/activerecord/lib/active_record/autosave_association.rb#L397). The problem stems from aliasing `destro

[2017-01-30 04:16] estebanbouza commented on #53
@zzak Could you comment on @nneufeld 's statement before? Is the gem abandoned?

[2017-01-30 06:26] zzak commented on #53
@estebanbouza @nneufeld Totally, sorry I just missed this comment.

Thanks for your patience!

[2017-02-11 11:25] baswenneker commented on #57
How about sharing your solution?

[2017-02-16 04:15] talexu opened #70 "delete_all does real deletion"
Hi, I have an issue about delete_all in transaction.
Here is a piece of my code
MyModel.transaction do
   MyModel.delete_all(region: 'xxx')
   ...
end

And I found that it generates a SQL of
DELETE FROM `my_models` WHERE `my_models`.`deleted_at` IS NULL AND `my_models`.`region` = 'xxx'

The expectation should be
UPDATE `my_models` WHERE `my_models`.`deleted_at` IS NULL AND `my_models`.`region` = '

[2017-03-01 04:12] tmlee commented on #70
@talexu I am not experiencing that when it is wrapped in a Transaction.
Any other parts of your code that you can show which may be helpful?
How about just calling delete on a single instance?

[2017-03-19 12:00] noise2 commented on #53
@zzak Why this issue still open?? @nneufeld's solution will fix the problem, why not merge it?!

[2017-03-19 13:47] zzak opened #71 "Fix tests for Rails 5"
See #62: [build](https://travis-ci.org/ActsAsParanoid/acts_as_paranoid/jobs/178866110)

[code]

[2017-03-19 13:48] zzak opened #72 "Add tests and docs for `:recovery_value`"
See #60 /cc @wolfer

[2017-03-19 13:55] zzak commented on #53
Merged #54

[2017-03-19 13:55] #53 closed

[2017-03-19 14:05] zzak commented on #65
Patches welcome :)

[2017-03-19 14:06] zzak commented on #64
Patches welcome :)

[2017-03-19 14:08] zzak commented on #61
@reinaris Can I close this? :)

[2017-03-19 14:09] zzak commented on #58
How about to try:

[code]

[2017-03-19 14:14] zzak commented on #68
I'm not sure what autosave is doing under the hood, but this test also is wrong because we shouldn't use `send(:paranoid_value)`.

Perhaps autosave was added after all of this?

[2017-03-19 20:22] reinaris commented on #61
Yes! :)

[2017-03-20 00:47] #61 closed

[2017-03-20 00:47] zzak commented on #61
:bow:

[2017-03-22 18:55] noise2 opened #73 "Why the project is failing?"
The project is failing and I have updated my gems, we are depending on this gem at the production level, can I ask what is the problem?

[2017-03-23 03:50] zzak commented on #73
@noise2 Can you explain? How is it failing for you?

[2017-03-25 11:16] thg303 opened #74 "feature request: hook for delete and recover"
I was wondering if it could be possible to have a hook for remove and recover calls, something like "on_delete" or "on_recover". It could be useful for records with an external entity like "files" it would allow the developer to move deleted files to a "recycle bin" directory and remove them later or recover them if she needs.

[2017-03-25 11:19] thg303 commented on #74
oops, now I just found them in the source, actually there are "before_recover" and "after_recover" callbacks.

[2017-03-25 11:19] #74 closed

[2017-03-25 19:48] noise2 commented on #73
@zzak we haven't had anything to notice the failing, but the [Travis-CI](https://travis-ci.org/ActsAsParanoid/acts_as_paranoid/)'s [![Build Status](https://travis-ci.org/ActsAsParanoid/acts_as_paranoid.svg?branch=master)](https://travis-ci.org/ActsAsParanoid/acts_as_paranoid) red flag worries us!

[2017-03-29 00:38] zzak commented on #73
Ahh, yeah that is a known issue. See #71

[2017-03-29 00:38] #73 closed

[2017-04-09 01:13] faouzzz opened #76 "with_deleted on joins does not unscope"
![image](https://cloud.githubusercontent.com/assets/576894/24833624/0b17d6aa-1ccf-11e7-9fa7-fc6d5fcaefde.png)

It add an AND close in the INNER JOIN...

[2017-04-09 01:32] faouzzz opened #77 "with_deleted when both relations deleted does not work"
[code]

raise **undefined method `offices' for nil:NilClass** when office and client are deleted.

[2017-05-12 10:51] santu-git opened #80 "Not working inside rails engine."
I am using acts_as_paranoid gem inside a rails engine. gem is added as add_dependency in .gemspec file. But I am getting error **NameError: undefined local variable or method `acts_as_paranoid'** until unless I am specifying gem in **Gemfile** of the app where I am using that engine.

[2017-05-17 12:49] tomajask commented on #57
Sorry for the delay:
[code]

[2017-06-14 06:28] kuldeepdaffodil opened #81 "alias_method_chain is deprecated. Please, use Module#prepend instead"
Hi

Please check below WARNING when I am using command line interface .

DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from singleton class at /home/daffolap-244/.rvm/gems/ruby-2.3.0@diary/gems/acts_as_paranoid-0.5.0/lib/acts_as_paranoid/associations.rb:6)
DEPRECATION WARNING: alias_me

[2017-06-20 18:14] jacob-on-github commented on #81
See #78

[2017-07-04 12:29] dmbf29 commented on #80
Also had this problem...

[2017-07-07 13:02] matt297 opened #82 "destroy! on an ActiveRecord::Collection"
**Summary:** Calling `.destroy!` on an `ActiveRecord::Collection` results in unexpected behaviour. According to the AR documentation, `.destroy!` is not implemented for collections and should result in an undefined method exception.

**Use case:** A has_many through relationship, trying to delete a join row. Using `gem 'rails', '~> 5.0.0'` and `gem 'acts_as_paranoid', '~> 0.5.0'`.

**Details:**
[c

[2017-07-28 03:28] patientdev commented on #43
This is related to the changes in PR #83. `validates_uniqueness_of_without_deleted` is using the `type_cast_for_schema` method to cast the value, which simply calls `.inspect` on an array, returning a string.

[2017-07-28 20:06] pjg opened #84 "Nullifying doesn't work from parent to paranoia child"
[code]

All good, except when I try to destroy the child, it will not allow ActiveRecord to nullify the reference:

[code]

The nullifying callback is executed too late and/or with an invalid condition:

[code]

[2017-07-28 20:08] pjg commented on #84
Manual override is required to fix the above:

[code]

[2017-07-28 20:15] pjg commented on #84
Silly me. Different gem.

[2017-07-28 20:15] #84 closed

[2017-08-26 08:09] #71 closed

[2017-10-02 16:07] atwoodjw opened #88 "Rails 5.1 Support"
Looks like Rails 5.1 is supported in `master`, but not the most recent release (0.5.0). Can we get a new release?

[2017-10-29 15:26] kyleramirez commented on #88
I'm using Rails 5.1 and I still get this warning every time I load the rails environment because of this gem:

    DEPRECATION WARNING: alias_method_chain is deprecated. Please, use Module#prepend instead. From module, you can access the original method using super. (called from require at /Users/xxx/.rvm/gems/ruby-2.3.0@global/gems/bundler-1.14.6/lib/bundler/runtime.rb:91)

Is this related?

[2017-10-30 10:08] jellymann commented on #88
@kyleramirez Yes. If you use the master branch, that deprecation warning goes away. However, a new deprecation warning now appears:

[code]

[2017-11-02 10:59] tsujigiri commented on #70
I'm seeing the same when I add the `composite_primary_keys` gem to the project, even if I don't use it.

versions:
composite_primary_keys: 9.0.8
acts_as_paranoid: 0.5.0

[2017-11-09 19:53] etagwerker commented on #88
@zzak Hi, first of all thanks for maintaining this gem! 💯

Secondly is there an estimate date of release for the next version?

We're using `acts_as_paranoid` in an app that uses Rails 5.1 and we'd like to depend less on Github (currently using `master`)  and more on Rubygems.

If I can help make this happen please let me know.

[2017-11-11 12:46] patientdev commented on #88
I've been depending on `master` for 5.1 support since June 1.

[2017-12-15 18:37] jhubert commented on #88
@zzak Same issue here. A new release would be great as we're doing a 5.1 upgrade. Anything we can do to help?

[2017-12-23 06:40] buncismamen commented on #88
have you guys check this project ? https://github.com/rubysherpas/paranoia

it said

[2017-12-31 23:32] zzak commented on #88
Hey ya'll, thanks for letting me know as I'm always forgetting about this one :)

Will try to cut something soon! Happy new year!

[2018-01-08 06:54] MuhammadRazaAslam opened #90 "Throw error when adding scope in Association"
Hey,
My rails version is rails-3.2.22.5 and ack_as_paranoid version is acts_as_paranoid-0.4.5. When i try to add scope in belong_to association then it throws exception during getting any record from db. Let me know why it's happening. Here is my code

**class Touch < ActiveRecord::Base
  acts_as_paranoid
has_many :touch_transactions, class_name: "ActivityTransactions", :foreign_key => 'touch_id'

[2018-02-02 08:25] hoan-nguyen-dinosys opened #91 "How to recover children items after recoverd parent item"
I have groups model and it has parent/children associations. When I destroy parent item, all children items destroy . But, I recover parent item, children items not recover. I tried options of recover in document.

[2018-02-04 00:35] chiperific commented on #91
What happens if you do this:
`Parent.restore(@parent.id, :recursive => true)`

[2018-02-09 20:24] shanecav84 commented on #88
*bump*

[2018-03-07 13:42] jantequera commented on #91
This was happening on a project to me as well.

`Parent.rstore` does not exist (or so it seems) in actas_as_paranoid, Parent.recover does, but does not do the trick.

I've decided to migrate to the `paranoia` gem, which is almost seamless (couple of method renaming).

Best movement though would be moving to the `discard` gem, sinca paranoia is in maintenance mode, but it takes more work to do the

[2018-03-12 21:15] davidbiehl opened #93 "SystemStackError when deleting a non-paranoid model"
Rails 5.0.6, Ruby 2.3.1.

Models that are "paranoid" (`acts_as_paranoid` is called in the body of the model) are soft-deleted just fine.

However, calling `destroy` on any other model results in `SystemStackError (stack level too deep):` referencing the line of code where `destroy` was called on the model. I confirmed that removing the `acts_as_paranoid` from the project returns destroying to the

[2018-03-14 13:51] WaKeMaTTa commented on #93
Check in your `destroy_with_dependencies!` if you have broken code, you will get `stack level too deep`

[2018-03-14 15:40] pyromaniackeca opened #94 "acts_as_paranoid breaks other gems in rails 5.2.0.rc1"
Hello, when upgrading rails from 5.1.5 to 5.2.0.rc1, our application stopped working. I've concluded that the source of the issue is `acts_as_paranoid`, for when removing the gem, the application works as expected. Bellow is the error output when running specs:

[code]
I believe the source of the issue is this: https://github.com/rails/rails/commit/9b53f74d897d346f44caae7b0cffcd900f986259#diff-587

[2018-03-27 07:11] jhadeepakkumar14 opened #97 "deleted_at always set date "2000-01-01 XX:XX:XX""
Whenever I am deleting my record, it sets deleted_at to "2000-01-01 XX:XX:XX" (XX is some timestamp). I did not find any issue on the list for this if there is an issue created for this before then link this issue to that. And please help me to figure out this issue. Thanks

[2018-03-27 17:51] prodeniser commented on #88
I ran into some issues on Rails 5.0 and had to install directly from Github. Would it be possible to get a RubyGems release with the Rails 5.0 and 5.1 fixes?

[2018-03-30 15:13] neohunter opened #98 "Not working for models in a namespace"
I've this model:

[code]

If I try to find anything this error appear:

[code]

[2018-04-06 14:58] jfiander commented on #97
Quick reaction: That looks like the column type may be `time`, rather than `datetime`. It essentially throws out the date, hence the 1/1/00 "date". Take a look – hopefully it's that simple.

[2018-04-16 04:29] richdrich opened #101 "reload unexpectedly succeeds"
[code]

With real deletes, raises `RecordNotFound`. With acts_as_paranoid, succeeds and reloads the deleted record.

Not important, I know...

[2018-04-27 18:25] benlangfeld commented on #88
@zzak Any chance you could cut a release, or give someone else permission to do so?

[2018-05-04 12:08] domcleal opened #103 "SystemStackError during destroy with ActiveStorage 5.2"
When using both acts_as_paranoid and ActiveStorage on the same model, destroying the model causes a SystemStackError as the stack overflows with lots of nested callbacks around ActiveStorage::Attachment purging.

As a minimum this error shouldn't occur, but some fuller support for soft deletion with ActiveStorage would be great, allowing for the attachment+blob to remain until really deleted.

Her

[2018-05-09 13:42] KevinColemanInc commented on #88
@benlangfeld / @zzak

At this point, this should also support rails 5.2

[2018-05-09 14:32] nbarthelemy opened #104 "Gem release for rails 5.1"
Hello -

I am wondering when we can anticipate a gem release for > rails 5.0. We are pulling master into our project, but we need a formally published gem to add to our gemspec. Any help would be greatly appreciated.

Thanks

[2018-05-09 15:33] nbarthelemy commented on #88
@zzak +1 for @benlangfeld comment about cutting a release. Thanks in advance 👍

[2018-05-17 14:39] luizkowalski commented on #94
I have the same issue, but I'm trying to load the app

[code]

[2018-06-03 18:02] goravbhootra commented on #104
Duplicate of https://github.com/ActsAsParanoid/acts_as_paranoid/issues/88

[2018-06-04 14:01] #104 closed

[2018-06-04 14:17] mvz commented on #97
@jhadeepakkumar14 can you confirm @jfiander analysis?

[2018-06-04 19:32] mvz commented on #101
@richdrich given what ActsAsParanoid aims to accomplish, what behavior would you expect?

[2018-06-04 22:55] richdrich commented on #101
I think it should raise RecordNotFound. Just on a basis of behaving exactly like a hard delete.

[2018-06-05 05:30] mvz commented on #101
Ok, so what about:

[code]

[2018-06-05 11:04] nikolai-b opened #107 "RubyGems update"
Thanks for the great gem, would you mind pushing a new version to RubyGems?

[2018-06-07 17:13] mvz commented on #107
Yup, just pushed as 0.6.0!

[2018-06-07 17:13] #107 closed

[2018-06-07 17:13] mvz commented on #88
A new release is available: 0.6.0.

[2018-06-07 17:13] #88 closed

[2018-06-07 17:17] mvz commented on #101
I'm afraid I don't see any particular use case for raising `RecordNotFound`. The intention of ActsAsParanoid is precisely not to behave exactly like a hard delete.

If you can supply a use case for this I'm willing to reconsider, but for now I'll close this ticket.

[2018-06-07 17:17] #101 closed

[2018-06-07 17:21] mvz commented on #94
Should be fixed in 0.6.0 :tada:.

[2018-06-07 17:21] #94 closed

[2018-06-07 17:22] mvz commented on #81
Fixed in 0.6.0!

[2018-06-07 17:22] #81 closed

[2018-06-22 11:10] sandipransing commented on #45
Any updates on this?

[2018-07-13 05:55] bjeanes commented on #28
I _think_ this is a similar underlying issue but with accessing `proxy_association`. This is _also_ upgrading from Rails 3 to 4 (and AAP 0.4.5 -> 0.5.0):

[code]

I know these are all old and unmaintained versions of things so I'm not so much posting here with the expectation that it will be fixed, but for documentation purposes in case others run into it too. This GH issue seems the closest likel

[2018-08-14 12:55] leander02 opened #109 "Translation for expires_on field"

[2018-08-14 12:55] #109 closed

[2018-08-27 13:28] jhadeepakkumar14 commented on #97
@mvz Yes. I am using mysql db, and datatype was time. I tried using datetime. it works. Thanks @jfiander and @mvz

[2018-08-27 15:04] mvz commented on #97
@gamesover `time` is just a flag for `acts_as_paranoid` to use time-like semantics, rather than, say, boolean. It's a little confusing since the corresponding database field type should indeed be datetime.

It makes a little more sense if you consider that Ruby's `Time` class also includes the date.

[2018-08-28 06:32] mvz commented on #97
We can probably change the README to make this a little clearer, e.g., by first introducing the options and their meaning formally, and explaining the difference between the option value and the database column type.

[2018-09-01 03:16] neohunter commented on #16
To fix this change your mgiration to:

[code]

[2018-09-27 19:37] vitalinfo opened #110 "Any way to unscope join association (Rails 5.2.0)"
[code]

I haven't found any solution to exclude `"user_settings"."deleted_at" IS NULL` from the query.

`Model.unscoped` doesn't help

[code]

[code]

[2018-11-06 01:32] kotovalexarian opened #111 "Do not override default scope"
Overriding default scope with filtering condition is considered to be a bad practice. I ran into problems several times because of this. Instead you should create named scope to be used to exclude deleted records.

[2018-11-09 00:15] KidA001 commented on #103
What's the status of this issue? Is there any temporary fix? I'm having issues with it and unable to use acts_as_paranoid with active storage

[2018-11-21 21:31] CharlesMcMillan opened #112 "Query being 'unscoped' of all conditions if there is a paranoid model referenced in a subquery"
On upgrading to Rails 5, we noticed that certain queries that were using the `with_deleted` method were transforming to a completely unscoped query like `select * from <my table name` with all the query conditions being mysteriously dropped...On inspecting the source a bit further, we noticed this line from [this PR](https://github.com/ActsAsParanoid/acts_as_paranoid/pull/47/files#diff-98c063030b2

[2018-12-03 23:02] Noejoaquin commented on #111
@kotovalexarian Would love to hear more about your experience with this. Maybe some examples? Do you think the `scopes` section of the documentation could use a revamp with respect to what you raise here? Maybe instead of the `scopes` section, the `caveats` section?

[2018-12-06 11:09] Abhimaropost opened #113 "validates_as_paranoid not working"
validates_as_paranoid is not working with rails 5.2.  Its giving undefined local variable or method `validates_as_paranoid' for #<Class:> error, while adding in model

[2019-01-05 11:54] AmitPatel-BoTreeConsulting commented on #103
I am facing the same issue. How to deal with it?

[2019-01-30 17:11] phoet opened #115 "getting ready for rails 6"
i'm currently preparing for migration to rails-6 beta1.

the test-suite is running https://github.com/penseo/acts_as_paranoid/pull/1

since i do not have any idea what i'm doing here, please gimme some help.

cheers!

[2019-03-07 00:12] KidA001 commented on #57
I'd like to bump this thread. `recover` is not restoring `has_one` associations, only `has_many`. Any idea why this isn't built it?

[2019-03-22 13:10] shadydealer opened #118 "run_callback consumes the errors and it's hard to find out why recovering a record failed"
We have the following class

[code]

The issue is that after we've deleted/destroyed the record and the delete_at column has been set, recovering it returns the following in the console:

[code]

  Setting a byebug inside the validation method confirms that we've reached the error, added it and then thrown an abort, but the run_callback method, as describe here:
https://apidock.com/rails/ActiveSup

[2019-03-26 15:12] surjay commented on #45
Was there any consensus on a workaround or patch idea for this?

[2019-04-08 05:05] emiddleton commented on #59
I am having this issue.  Did you find a solution.

[2019-04-08 20:02] glindsey commented on #93
I'm running into a similar issue in our codebase which appears to be a conflict between `acts_as_paranoid` and `newrelic_rpm`: both attempt to wrap `delete_all` which results in a callstack looking like:

[code]

[2019-05-15 17:57] #115 closed

[2019-06-12 11:44] peterwake opened #121 "Idea for improved database performance"
With a database index on deleted_at (as a timestamp) we don't get great leverage of the indexing power of the database. So I was thinking it might be good to have two (or three) database columns

- `deleted_at` as a timestamp
- `deleted_at_date` as a date (optional)
- `deleted` as a boolean

Then adding indexes on `deleted` and `deleted_at_date` (optional).

Any thoughts / suggestions appreciated

[2019-08-01 10:20] amex-doug opened #122 "Unscoped doesn't apply to preload"
`Blog.unscoped.preload(:comments)`

[2019-08-01 14:00] dsounded commented on #122
Won't `Blog.with_deleted.preload(:comments)` work ?

[2019-08-07 08:56] dsounded commented on #121
Not sure if indexing of boolean field is much efficient

[2019-08-13 14:58] danielricecodes commented on #115
Got my hopes up but this fork has nothing to do with Rails 6....

[2019-08-13 15:23] phoet commented on #115
Latest should work with rails 6!

[2019-09-03 08:10] nitsujri commented on #103
Any resolution on how to soft delete without performing the purge callback until it is fully destroyed?

[2019-09-13 16:33] vakrolme commented on #115
For me it works with `rails 6.0.0.rc2`. However when I change rails version to `6.0.0`, I get the following error on bundle update/install:
[code]
Is it just me?

[2019-09-13 17:00] mvz commented on #115
@vakrolme the latest gem release (0.6.0) does not support Rails 6 (I think @phoet means latest master).

However, I'm preparing release 0.6.1 *right now*, which will include Rails 6 support :rocket:.

[2019-09-13 17:04] mvz commented on #115
... and released it is.

[2019-09-16 12:44] mvz commented on #45
I agree with @zzak that destroyed records should be immutable.

[2019-09-16 12:49] mvz opened #128 "Callbacks due to `:dependent` options have potentially unintended effect"
The `dependent` option for `has_many` creates a callback that is executed on soft-deletion. However, it may make more sense to execute it on hard-deletion, because otherwise the deletion cannot be undone (unless the action is destroy and the relation is also paranoid).

Options:
* Move some of these callbacks to the hard-delete stage
* Warn about these callbacks (i.e., make people not use them)

[2019-09-23 07:07] vitalinfo opened #129 "Rails 6. Can't modify frozen hash"
Look's like `destroy_fully!` doesn't work in Rails 6.
It raises `Can't modify frozen hash`

[2019-09-24 16:13] frostblooded opened #130 "Failing to recover parent but has_one association gets recovered"
[code]

I have this interesting case where the user has a unique username, but after he gets soft-deleted the username is freed up. This means that trying to recover a soft-deleted user may fail, because his previous username may now be taken, which means the `#recover` should fail and return `false` and it does.

The problem is that I call `deleted_user.recover`, it fails, and then if I check the

[2019-09-25 07:42] frostblooded commented on #130
I just realized that right now I am only observing this problem in my test environment. I will look into it and report back if I find anything.

[2019-09-25 08:49] frostblooded commented on #130
Unfortunately, no, it doesn't happen only in my test environment. I have seen the same behaviour in the development environment but not as consistently. When the user should correctly recover, sometimes his data doesn't recover with him for some reason. (all of this happens only sometimes with no change in the code between attempts) I will try to make a reproducable code snippet and upload it here

[2019-09-25 08:57] shadydealer commented on #130
Taking a shot in the dark here, but I think the problem is the following:
In core.rb:149(the recover method) calls recover for each of its dependent_associations which will wrap the dependent_association in another transaction here:
[code]
which will update the dependent_assocations value in the database regardless of whether the User recover succeeded or not.

[2019-09-27 08:14] frostblooded commented on #130
I am trying to make a reproducible example in the form https://pastebin.com/TUUMxmu3, but it throws an error

[code]

If you can help me with how this script can work, I can look into making my issue reproducible.

[2019-10-01 09:20] yevhene commented on #129
@vitalinfo Stuck with this issue with Rails 5.0.7.2 (during upgrade from Rails 4.2). Did you find the solution?

[2019-10-01 09:34] vitalinfo commented on #129
@yevhene what the issue? could you please specify?

[2019-10-01 09:36] yevhene commented on #129
@vitalinfo `destroy_fully!` raise `Can't modify frozen hash`

[2019-10-01 09:39] vitalinfo commented on #129
@yevhene hm... I didn't experience such problem on lower Rails versions

[2019-10-01 09:41] yevhene commented on #129
@vitalinfo Did you find any hints on what is the cause? I think it is similar anyway.

[2019-10-16 09:20] vitalinfo commented on #129
@yevhene I've added a few workarounds that works for me
https://github.com/vitalinfo/acts_as_paranoid with Rails 6

[2019-10-18 18:33] ritec commented on #97
Hdd this same problem and it was indeed the column type. in order to solve it and attempt to retrieve the correct deleted_at dates I did the following in a migration:

[code]

Because the deleted_at was more than likely the last thing that was updated when the record was soft deleted, so the `updated_at` probably has the correct date.

[2019-10-21 19:17] marycodes2 opened #132 "Only run `recover` when model is already deleted"
We are currently able to call the `recover` method on a model instance that has not been deleted. We would expect that `recover` would be a no-op on records that have not been deleted. Instead, we noticed that all callbacks and lifecycle methods are invoked when `recover` is called on a record with `deleted_at: nil`.

We would be happy to submit a PR with this change if you'd like!

[2019-10-21 19:50] marycodes2 commented on #132
Here is a PR that solves this issue:

https://github.com/ActsAsParanoid/acts_as_paranoid/pull/133

[2019-10-21 20:50] valeriecodes opened #134 "Destroy method has unexpected behavior with ActiveModel::Dirty"
Using `destroy` on an `acts_as_paranoid` model triggers `after_commit` callbacks. However, while most changes in `after_commit` are found in the `previous_changes` hash, changes to the `deleted_at` field after destroy are found in the `changes` hash.

[2019-10-22 10:04] mvz commented on #132
#133 was merged, thanks again!

[2019-10-22 10:04] #132 closed

[2019-11-08 14:44] filipebarros commented on #39
@zzak wasn't this fixed by https://github.com/ActsAsParanoid/acts_as_paranoid/pull/119 ?

[2019-11-09 18:33] MatheusRich opened #138 "Soft delete on a future date"
Can I set a future date to soft delete an object?

[code]

So the gem would check if `deleted_at != nil` and `DateTime.today < deleted_at`

[2019-11-09 19:11] mvz commented on #138
No, whether an object is considered deleted only depends on whether `deleted_at` is `nil` or not.

[2019-11-09 20:46] frostblooded commented on #129
I am also experiencing this issue on Rails 5.2.3 with acts_as_paranoid 0.6.2. @vitalinfo's fork works well for me. Although I have found that calling `#destroy` on a soft-deleted model sometimes also generates this error. It is trying to touch an already destroyed object, I suppose.

[2019-11-09 21:28] MatheusRich commented on #138
@marycodes2 do you guys have any interest in this feature? I could make a PR addressing this, if you give me some guidance.

[2019-11-10 08:10] yevhene commented on #129
@frostblooded Yes, it is related to touching

[2019-11-10 09:57] mvz commented on #138
Please be aware that you will want to have any callbacks related to the deletion run at that future date, and you would want to store somehow that the deletion has taken place.

Given those two constraints, I highly recommend using a mechanism external to ActsAsParanoid, that would use a different field or other storage for scheduling deletion. As a bonus, this would allow that mechanism to also w

[2019-11-10 09:59] mvz commented on #138
Check out https://github.com/jmettraux/rufus-scheduler for an existing scheduling solution that should be able to handle this.

[2019-11-11 23:47] dlinch opened #139 "Uniqueness validation does not extend to deleted records"
I find this issue vexing, as it's at direct odds with the documentation.

This library is mutating the default scope to include `WHERE deleted_as IS NULL`, so a uniqueness check will use this default scoping to check for unique.

So, contrary to what the docs say [here](https://github.com/ActsAsParanoid/acts_as_paranoid#validation), this library handles uniqueness checks among non-deleted records

[2019-11-14 12:44] #39 closed

[2019-11-25 08:46] Able1991 opened #140 "Rollback is not called if destroy fails"
Hi.
I call throw(:abort) in before_destroy callback and wait rollback for restore has_many :dependent => :destroy records, but rollback does not occur

https://gist.github.com/Able1991/8291b9ba95fd5f1d1adb6d6c751932a1

![image](https://user-images.githubusercontent.com/3898046/69525378-0bb39780-0f79-11ea-8396-fcd78a66a244.png)
but I expect a rollback)

[2019-12-05 19:34] dongapplyboard commented on #140
Hey have you found any solution to this as of yet? I'm getting the same error, it seems that the `throw :abort` doesn't fire and the destroy goes through regardless of the `before_destroy` validation

[2019-12-09 23:48] excalq opened #141 "Request for Documentation: Index Advice"
We're having a lively discussion on the merits of adding an index to the `deleted_at` column on a very large table in MySQL, which is undergoing a migration to add acts_as_paranoid.

This table is going to have very few records ever deleted, thus the advice at https://stackoverflow.com/questions/26525068/does-laravels-soft-delete-need-index-on-mysql/26530488#26530488 seems to indicate that this is

[2019-12-12 10:56] Eth3rnit3 commented on #113
The same !

[2019-12-17 06:31] kirykr opened #142 "object.destroy_fully! ActiveRecord::InvalidForeignKey PG::ForeignKeyViolation: ERROR"
[code]

[2020-01-14 07:47] #140 closed

[2020-01-14 07:48] Able1991 commented on #140
this is another gem ;)

[2020-01-21 22:22] brymacto opened #143 "Next release: support for 'recover!'"
Hi there,

Is it possible to do a new release?  Specifically I'm very interested in gaining the functionality of #75, the `recover!` method.

Thanks!

[2020-01-25 18:21] mvz commented on #143
Hi @brymacto I just released 0.6.3 that includes #75.

[2020-01-25 18:21] #143 closed

[2020-01-25 18:59] brymacto commented on #143
Thank you, @mvz!

[2020-01-31 03:21] gamesover opened #145 "Save deleted record failed without throw a meaningful error message"
We have some records `valid?` but cannot `save` and checking `errors` just got empty array `[]`

After debugging, we found `acts_as_paranoid` prevent saving a deleted record without throw a meaningful error message.

I think it is better to add a meaningful message to help debugging.

[2020-01-31 08:24] mvz commented on #145
Just to understand the use case a bit better, why do you want to save a soft-deleted record?

[2020-01-31 08:27] gamesover commented on #145
We deleted the record, but sometimes, we still want to update some fields of deleted records.

[2020-01-31 09:26] mvz commented on #145
I'm afraid Rails 5.2 and up won't save a record if `#destroyed?` returns true. This was already a known issue for creating records directly in a soft-deleted state, but apparently the same problem exists for existing soft-deleted records.

I suppose we can make `acts_as_paranoid` throw a better message for `#save!` than the current Rails default of "Failed to save the record". Regular `#save` will

[2020-01-31 10:10] gamesover commented on #145
ah, sorry, so it sounds it is more than Rails 5.2 issue, rather than `acts_as_paranoid`.

If so, I think it shall Rails 5.2 throw a more meaningful error message rather than `Failed to save the record`.

[2020-01-31 12:14] mvz commented on #139
The documented behavior is covered in the tests, so I believe something else is going on. Do you see the same problem when the uniqueness is not scoped to the `customer_id`?

[2020-01-31 12:29] mvz commented on #138
TL;DR: you should schedule deletion outside of ActsAsParanoid.

[2020-01-31 12:29] #138 closed

[2020-01-31 12:40] mvz commented on #142
@kirykr just to double check, you would want:
* UserPermission to be soft-deleted when User is soft-deleted
* UserPermission to be fully destroyed when User is fully destroyed (either directly or after soft-delete)

Correct?

[2020-01-31 12:43] mvz commented on #113
@Abhimaropost or @Eth3rnit3 are you still experiencing this and if so, can you post some example code?

[2020-01-31 14:27] kirykr commented on #142
@mvz Yes you are correct.

[2020-01-31 15:07] #76 closed

[2020-01-31 18:48] mvz commented on #129
@vitalinfo Does this problem still occur with version 0.6.3?

[2020-01-31 18:56] mvz commented on #77
This looks similar to #76 so will hopefully be fixed in the next release as well.

[2020-01-31 19:16] mvz commented on #97
The README has been updated to clarify this.

[2020-01-31 19:16] #97 closed

[2020-01-31 19:19] mvz opened #149 "Change `column_type: 'time'` to `column_type: 'datetime'`"
It's confusing that ActsAsParanoid uses 'time' instead of 'datetime', so we should change that, preferably with a nice transition period.

See #97.

[2020-01-31 19:49] mvz commented on #134
@valeriecodes This should be fixed in version 0.6.3. Can you please confirm?

[2020-02-01 15:43] vitalinfo commented on #129
@mvz nope, version 0.6.3 doesn't work for me as well.

[2020-02-01 20:02] mvz commented on #129
@vitalinfo can you provide a backtrace or some other context? I'm having a hard time reproducing this.

[2020-02-02 14:28] vitalinfo commented on #129
@mvz I did deep dive into the problem today and looks like problem in my code (overcomplicated optimization), 0.6.3 is working for me now and you can close this issue.
Thanks

[2020-02-02 15:44] mvz commented on #129
Thanks for looking into this, @vitalinfo!

[2020-02-02 15:44] #129 closed

[2020-02-11 21:43] dlinch commented on #139
I do.
My basic Model structure is:
Customer has_many tags
Tags -> acts as paranoid
  :value, :customer_id

My understanding of the documentation is that vanilla Rails validations don't account for the paranoia, so you need to add the special uniqueness validation () to be able to ignore deleted records. In my case, I want that uniqueness to extend to deleted records. I provide the ability to recov

[2020-02-21 19:56] szechyjs commented on #142
I have a similar issue...

[code]

Since `Parent` is not paranoid I would expect calling `#destroy` to work and fully destroy its children.

[2020-02-21 21:57] mvz commented on #142
Hi @szechyjs your case is different enough that it should be in a separate issue. Can you open one please?

[2020-02-21 22:23] szechyjs opened #151 "Can't destroy parent if not paranoid"
If a parent model isn't paranoid it's impossible to destroy it. It calls `#destroy` on all the children, which doesn't actually delete them, then when it goes to delete the parent, it gets a foreign key violation from the database.

[code]

Since `Parent` is not paranoid I would expect calling `#destroy` to work and fully destroy its children.

If I add `acts_as_paranoid` to the parent it works ju

[2020-02-22 15:06] mvz commented on #151
This behavior is as intended. ActsAsParanoid aims to never allow accidental full destruction of a record. It cannot know that the destruction of Child objects is fine for you in this case.

The simplest solution for you would be to explicitly destroy the chidren with `#destroy_fully` before calling `#destroy` on the parent. This requires no change to ActsAsParanoid.

Going a bit further, I think t

[2020-02-24 17:52] szechyjs commented on #151
I agree that case 1 would probably be the best fit here, as it would be opt-in (`dependent: :destroy_fully`).

[2020-03-15 18:56] HamzaShamshad opened #153 "saving a record after paranoid gem says ~> undefined local variable or method `with_deleted'"
I am using "paranoia 2.2" gem for soft deletion in rails 5.2.3. It works good whether I destroy some record or find some destroyed record. only_deleted and with_deleted like functions work perfectly on the data that was created before adding this gem...

But when I try to save a new record now, it throws an error saying

**undefined local variable or method `with_deleted' for User::ActiveRecord_Re

[2020-03-16 06:43] HamzaShamshad commented on #153
Ohh sorry! I accidentally put the below line in my model causing problem in creating the record

belongs_to :user, -> { with_deleted }

[2020-03-16 06:43] #153 closed

[2020-03-18 09:13] vitalinfo opened #155 "destroy_all doesn't work properly"
Looks like `destroy_all` doesn't work for has_many association which has a scope `with_deleted`, like

[code]

[2020-03-18 10:58] mvz commented on #155
Hi @vitalinfo what do you mean by 'doesn't work'? What happens instead or what error messages do you get?

[2020-03-18 10:59] vitalinfo commented on #155
@mvz nothing, any exceptions, but objects aren't destroyed in the collection

[2020-04-03 19:20] LucasKuhn commented on #103
Any updates on this?

[2020-04-06 00:54] omairrazam commented on #113
Got same error. @mvz

`class Paranoiac < ActiveRecord::Base
  acts_as_paranoid
  validates_as_paranoid
end`

its standard integration no specific logic

[2020-04-06 05:19] mvz commented on #113
Thanks, @omairrazam.

@Abhimaropost and @Eth3rnit3 can you confirm that you're using `acts_as_paranoid` and not `paranoia`?

[2020-04-06 08:43] Eth3rnit3 commented on #113
Sorry for my inattention, I'm using paranoia.

[2020-04-12 13:32] mvz commented on #113
I'm closing this for now. @Abhimaropost if you feel this issue does apply to `acts_as_paranoid` please let me know and I'll reopen it.

[2020-04-12 13:32] #113 closed

[2020-05-12 12:49] anaruson commented on #45
I don't agree. There are cases where some content might need to be soft-deleted and restored afterwards.

[2020-05-12 15:00] mvz commented on #45
Yes, I meant immutable apart from recovery. So the soft-deleted record is immutable until it is recovered (or fully destroyed).

[2020-05-12 15:07] surjay commented on #45
What about cases where schema changes or other data migrations need to happen? Certainly, you can get around validations/callbacks while doing those if necessary but there are also times where you'd want validations/callbacks to run while also being able to update/adjust soft-deleted records.

[2020-05-21 17:44] adenta commented on #103
Yeah, would love to use this gem, but don't want to purge the documents

[2020-06-02 12:50] Faisal-nfl opened #162 "version not available"
You guys ask to use
`gem 'acts_as_paranoid', '~> 0.7.0'`

while [rubygems](https://rubygems.org/gems/acts_as_paranoid) says that latest available version is

whats happening here?

[2020-06-02 13:45] mvz commented on #162
The README in the repo has been adjusted for the next version to be released. You can use 0.6.3 for now.

[2020-06-02 13:45] #162 closed

[2020-06-17 18:22] 17100262 commented on #103
Any updated on this?

[2020-06-29 04:34] thebravoman opened #165 "0.7.0 is not on rubygems.org"
Readme says
[code]

But this does not work as
[code]

Probably there should be a branch reference after "gem 'acts_as_paranoid', '~> 0.7.0'"

[2020-06-29 05:41] thebravoman opened #166 ""Globalized model must exist" error"
Using Globalized

I have
[code]

This translated from globalized to
[code]
So we have
[code]

I've added a deleted_at column on Episode::Translations. I've filled it with
[code]

But when I try to recover an error is thrown "Globalized model must exist". This error is because Episode::Translation expects the record it is attached to it. But it is not because it is not recovered yet and somehow the

[2020-06-29 06:22] mvz commented on #165
Fixed in #164 by pointing at the currently released version.

[2020-06-29 06:22] #165 closed

[2020-06-29 06:25] mvz opened #167 "Improve documentation for different versions"
Current problems:
- Gem has no real description on rubygems but just points at 'the homepage'
- The homepage as pointed to from rubygems is the master branch' README
- The master branch' README does not fully reflect the released version

[2020-06-29 06:29] mvz commented on #166
You're saying 'Episode::Translation is not acting as a paranoid'. Do you mean the record gets fully deleted? Can you check whether the translation record exists in the database with `deleted_at` set?

You may need to recover the translation record first before recovering the main record.

[2020-06-29 06:33] thebravoman commented on #166
When it is deleted it is correctly marked as deleted by setting the deleted_at.

[code]

But when it is recovered only the episode is recovered
[code]

[2020-06-29 06:41] mvz commented on #166
When do you get the 'Globalized model must exist' error?

[2020-06-29 06:47] thebravoman commented on #166
Does this help:

[code]

[2020-06-29 06:51] mvz commented on #166
No, I need to know what method leads to that error. From your first description I thought it happened when you call `recover`, but from your comment https://github.com/ActsAsParanoid/acts_as_paranoid/issues/166#issuecomment-650954536 it seems that's not the case. Now your backtrace in https://github.com/ActsAsParanoid/acts_as_paranoid/issues/166#issuecomment-650966424 suggests that it does happen

[2020-06-29 06:52] thebravoman commented on #166
Here it is the test case

[code]

[2020-06-29 06:56] mvz commented on #166
I'm curious why you don't see the error in https://github.com/ActsAsParanoid/acts_as_paranoid/issues/166#issuecomment-650954536. Does the error happen with `recover!` but not with `recover` ?

[2020-06-29 06:59] thebravoman commented on #166
Yes, You are right. I don't see the error on .recover. Only on recover! (I don't know why).

[2020-06-29 07:07] mvz commented on #166
Ok, then I think I see what happens: ActsAsParanoid tries to recover your translations but their validation fails because they are recovered *before* the main object. When you just call `recover` this means the records are just not saved and the code proceeds to save the main record. However, when you call `recover!`, the validation failure leads to the exception you see.

In this case, it seems,

[2020-06-29 07:17] thebravoman commented on #166
Just to make the example more full - recover is also behaving differently for the rest of the associations. I have two more associations - content_to_content_pictures, and subscriptions accesses.

By using .recover they get recovered like
[code]

But there is no query for episode_translations.

[2020-06-29 13:46] thebravoman commented on #166
This is how I managed to workaround it for the moment. Posting for reference if anybody is searching

[code]

and the spec that is working it

[code]

[2020-06-29 15:13] thebravoman opened #168 "Order of before_destroy and acts_as_paranoid should not really matter"
Given

[code]

and

[code]

This for me outputs different size of authors. In the first case authors are already destroyed. Because of this I can not do anything with them in the before_destroy.

In the second case the authors are there.

Looking at the code like this I think it should not matter which comes first.

[2020-07-02 12:03] thebravoman opened #169 "Distinguish between first destroy that softdeletes and second destroy that actually deletes"
Hi,

I can not find a way to distinguish between the first destroy that only sets the delete_at and the second destroy that deletes the file. I need this to destroy and external file on the second destroy and I need to understand when to do it.

In an after_destroy I can not use Dirty changes. They do not tell us that deleted_at as changed.

If there is a way I would suggest to add this to the doc

[2020-07-02 15:52] mvz commented on #169
Yes, that would be great!

[2020-07-03 10:05] thebravoman commented on #169
I've added it to the status section #170

[2020-07-03 10:13] mvz commented on #169
Fixed in #170!

[2020-07-03 10:14] #169 closed

[2020-07-22 06:27] gamesover opened #172 "Ignore acts_as_paranoid default_scope in a particular method"
After defining `acts_as_paranoid` for models, it will add default_scope `not_deleted` for the model.

Now, we have such a strange req., within one particular method, we hope to ignore `acts_as_paranoid` default `not_deleted` scope.

Also, we don't know what model will be passed to this method since we are using metaprogramming for this method.

We only have a req, please ignore `acts_as_paranoid`

[2020-07-22 07:15] mvz commented on #172
If you want to include both deleted and not-deleted items, you can use the `with_deleted` scope.

[2020-07-22 07:24] gamesover commented on #172
@mvz thanks for your hints.
Yes, I do know `with_deleted`.
As I said, it is metaprogramming, what instance/model passed in is out of my control. The model may or may not enable `acts_as_paranoid`. But as you mentioned, whatever passed to the method, must be `with_deleted` actually.

[2020-07-22 07:28] mvz commented on #172
You can use `respond_to?` or similar to check if the passed-in model has the `with_deleted` scope.

[2020-07-26 09:56] mvz commented on #168
Hi @thebravoman, I dug into this a bit and indeed, it is surprising that this happens, even when looking at ActsAsParanoid's code.

[2020-08-25 13:11] opsydev opened #176 "Request: New version with Ruby 2.7 support"
Can we please get a new release as #161 was merged a while ago to remove deprecation warnings in Ruby 2.7 but a new version wasn't released.

Thanks

[2020-08-28 10:03] Kounts commented on #166
@thebravoman , thanks for you workaround.
We've got the exact same issue : our object `Pool` has many `PoolCountry`.
A destroyed `PoolCountry` can be recovered just fine but if I destroy the `Pool` and  wants to recover it, I've got the error in `recover_dependent_associations` .

[2020-08-29 09:01] mvz commented on #176
Version 0.7.0 was just released.

[2020-08-29 09:01] #176 closed

[2020-11-19 07:18] puntodamar2 commented on #59
use `associated_table, -> { with_deleted }`

[2020-11-19 07:58] mvz commented on #59
This should actually just work as an option instead of a lambda. @puntodamar2 do you see this problem with the current release of acts as paranoid?

[2020-11-25 00:11] diegotc86 commented on #151
Hi, I've been struggling with exactly this problem for a while. I finally solved it this way:
[code]
You can leave the option `dependent: :destroy` or remove it. If you leave it, it first will make a soft delete on every child and then the before_destroy block will delete permanently the children.

Hope this is helpful for someone out there.

[2020-12-01 20:53] thijsnado opened #185 "after_commit on destroy hook called on recover."
Using:

[code]

Seems to trigger not only on destroy, but also when calling `recover` on a freshly destroyed record. This seems to only be an issue if you call `destroy` and then `recover` on the same instance without re-finding in db. I suspect that the `after_commit on: :destroy` probably fires on any other save calls that happen after initial destroy code.

[2020-12-13 15:07] mvz opened #192 "Handle new dependent: :destroy_async"
Rails 6.1 introduces the new option `dependent: :destroy_async` (see https://github.com/rails/rails/pull/40157). ActsAsParanoid should handle that somehow.

[2020-12-19 01:57] pboling commented on #145
I am working on migrating old data to be encrypted using [lockbox](lockbox: Modern encryption for Ruby and Rails), and this issue is preventing me from migrating my data.  This is very problematic, because I have to encrypt the data, even if it has been deleted.

The solution I have found is to use [the `migrate_record` branch of my fork of lockbox](https://github.com/pboling/lockbox/tree/migrate_

[2020-12-19 07:21] mvz commented on #145
If the migration would happen in a regular Rails migration, I would simply recommend creating a separate model class there, without `acts_as_paranoid`. I'm not entirely sure why Lockbox migrates the data outside a Rails migray.

[2020-12-19 10:24] pboling commented on #145
During deploys the app is generally offline while migrations run, because normally migrations are schema migrations.  So unless you run the migration in a non-standard manner (I.e. how to get it into production without deploying, or without provisioning a whole new production environment just for the migration?) your app will be off-line the entire time.

When migrating hundreds of gigabytes of da

[2020-12-19 11:20] mvz commented on #145
I don't agree that a Rails app is offline generally while migrations run, but that is perhaps not very relevant; a deployment that takes a very long time because gigabytes of data need to be migrated would be problematic regardless.

I would probably create a rake task with a custom model to do the migration in this case.

[2020-12-19 11:21] mvz commented on #145
In any case, it would be nice to have the option of saving the soft-deleted record for cases like this.

[2020-12-20 12:21] pboling commented on #145
Rails apps define the active record models based on introspecting the schema when the app boots.  The schema must match the actual columns in the DB or when you attempt to save record you can get errors (missing column, etc).

Yes, rails apps are offline while migrations run.  Sometimes, with backwards compatible schema migrations and a blue/green, or other multi-tier deployment strategy, you can

[2020-12-20 12:23] pboling commented on #145
The rake task suggestion wouldn't work if you old the environment, because that would load the models.

If you don't load the environment, then you would have to load all kinds of other things, and setup a lot of code to get things configured so records can be saved properly. A large portion of each model may need to be reproduced if you rely on many save callbacks.

[2020-12-20 13:03] mvz commented on #145
On the contrary, during a data migration you don't want any save callbacks to be run.

For a rake task you would indeed load the entire environment, but you would use a custom model for the data migration, for example:

[code]

[2020-12-20 19:24] pboling commented on #145
In many situations that will work, just not in situations that *rely* on save callbacks.  This isn't a basic rails app.  It's a very old, very giant rails app, with many connected things, and when the data changes, including becoming encrypted, it needs to be replicated to other systems, and those sometimes rely on callbacks to enqueue the replication.

Yes everything can be worked around.  I just

[2020-12-20 19:29] pboling commented on #145
Also, FWIW, data migrations in standard rails migrations is something I consider a code smell, and would recommend that people never do it.  I'll leave it to the curious to read about why this is.

I'm unsure if you were unaware of this mantra, but it seems to be a widely-held view in the Rails community:

https://thoughtbot.com/blog/data-migrations-in-rails

[2020-12-20 19:37] mvz commented on #145
I'm going to close this issue since not being able to save a deleted record is default Rails behavior and it is Rails that produces the error message.

[2020-12-20 19:37] #145 closed

[2021-01-07 18:31] thijsnado opened #195 "after_commit on destroy only called for soft destroy on rails 6"
In rails 5.2, calling `destroy` twice on a paranoid record would run the `after_commit on: :destroy` method twice. We discovered when upgrading to rails 6 that this is no longer the case. Not sure if this is an issue but the expected behavior around those callbacks should be documented. The `after_destroy` callbacks however do run correctly.

[2021-02-22 18:12] dawidof opened #202 "Problem with joins"
Does not create proper sql when paranoid set on joined table
![Screenshot 2021-02-22 at 18 51 02](https://user-images.githubusercontent.com/1425756/108750817-cbf3ab00-7541-11eb-82f1-5cf6ec7c6600.png)

[2021-02-22 18:19] dawidof commented on #202
Solved issue using unscope and adding manually, like this:
`scope.unscoped.joins(:licences).where(licences: { licence_status: 'Active', deleted_at: nil })`

But looks strange

[2021-02-23 09:57] mvz commented on #202
Hi @dawidof can you please provide a way to reproduce this problem? At first glance, the SQL seems fine, but without the code it's hard to tell.

[2021-02-23 10:40] dawidof commented on #202
Thanks @mvz, yeah you are right, it seems like error in my code.

But I've got another problem with using `with_deleted` on joined table

![Screenshot 2021-02-23 at 11 39 44](https://user-images.githubusercontent.com/1425756/108832484-e5413980-75cb-11eb-9f7b-e962dbf1d535.png)

[2021-02-23 10:52] mvz commented on #202
@dawidof I'll also need some code to reproduce this. I can't tell from your screen shot what you think is wrong.

[2021-02-23 11:05] dawidof commented on #202
@mvz I've not tested, but I think this code would be enough

[code]

[2021-02-23 11:56] mvz commented on #202
Can you please also say
- what you're trying to do
- what happens that you didn't expect
- what you expected to happen instead

[2021-02-23 12:09] dawidof commented on #202
E.g. I'm trying to get providers with active and not dependent on deleted_at column licences.

on `Provider.joins(:licences).with_deleted.active.count`
it throws an error `NoMethodError (undefined method `with_deleted' for #<Provider::ActiveRecord_Relation:0x00007fc7b3a37230>)`

I am expecting to get collection with providers, starting AR query request with Provider model

[2021-02-25 17:25] pilgunboris opened #203 "destroy_fully! does not perform real deletion at once. Performance issue."
Hello!
I have a huge performance issue when trying to rollback a big data import and calling `destroy_fully!` on each ActiveRecord instance with acts_as_paranoid support. Each instance has multiple soft-deletable associations with `dependeng: :destroy` options.
This whole process is unacceptably slow and one of the reasons (except slow AR by itself) is that `destroy_fully!` doesn't really destroy

[2021-03-02 16:01] unlimit opened #205 "Rails 6 issues with only_deleted with_deleted scopes"
Hi!
We recently switched our app to Rails 6(6.1.2) and we noticed that **only_deleted** and **with_deleted** scopes doesn't work properly via associations

[code]

[2021-03-10 21:48] pilgunboris opened #206 "Option touch: true does not work together with counter_cache: true when destroying."
Touching doesn't work on destroy in `belongs_to` association definition with `touch: true` and `counter_cache: true` used together:
[code]
It still works after creating but not after destroying.

To make sure there is an issue in acts_as_paranoid I've tried to disable  it for this model and this scenario works well without it.

[2021-03-10 21:50] pilgunboris commented on #206
Looks like there exists a PR that shows the problem: https://github.com/ActsAsParanoid/acts_as_paranoid/pull/174

[2021-03-13 11:28] mvz commented on #206
The underlying issue seems to be that Rails' touch and counter cache callbacks are not independent, and ActsAsParanoid only recreates the counter cache behavior with its own custom code, skipping the touch functionality.

[2021-03-13 11:43] #206 closed

[2021-03-14 14:52] pilgunboris commented on #206
@mvz thanks for fixing it 👍

[2021-04-11 13:10] heaven commented on #110
I did the following:
[code]

The query has changed from this:
[code]
To this:
[code]

[2021-04-14 18:37] jonsinclair1 commented on #103
So I've got a possible solution that seems to work. I would appreciate any feedback as it doesn't feel particularly solid.

In my app `Employees` have `files` and I want to be able to archive the employee, then get their files back when restoring the Employee record.
[code]

[2021-04-23 13:39] mvz commented on #42
I can still reproduce this.

[2021-04-23 13:39] #27 closed

[2021-04-23 13:40] mvz commented on #27
As far as I can tell this problem no longer occurs.

[2021-04-23 13:55] mvz commented on #64
This project now has such a file.

[2021-04-23 13:55] #64 closed

[2021-04-23 16:14] #42 closed

[2021-04-23 16:48] mvz commented on #45
In general, you _should not_ depend on a Rails app's real models when migrating. If you need some model, you should create a nested class inside the migration for it, like so:

[code]

[2021-04-23 16:53] #43 closed

[2021-04-23 17:19] mvz commented on #58
Closing this since the question has been answered.

[2021-04-23 17:19] #58 closed

[2021-04-23 17:49] mvz commented on #57
You may have to reload the parent model to make the associated model appear again.

[2021-04-23 17:50] mvz commented on #65
This was fixed in #75.

[2021-04-23 17:50] #65 closed

[2021-04-24 01:47] tjozwik opened #216 "Dependent records are not recovered with the parent one"
I've created two ActiveRecord's models - `Project` and `Task`. Each of them uses ActsAsParanoid with the datetime `deleted_at` column.
[code]
I've created one project and one dependent task:
[code]
When I destroy created project, task is being correctly soft-deleted. Unfortunately, it is not recovered with its project, even if it matches the default two-minute recover window:
[code]
Shouldn't it b

[2021-04-24 07:44] mvz commented on #216
Hi @tjozwik, the bit where the Task is deleted seems to be missing from the log, so I can't tell what its values were set to. Can you please create a log with that bit included?

[2021-04-24 09:31] #57 closed

[2021-04-24 11:27] mvz commented on #57
Reloading should no longer be necessary.

[2021-04-24 13:26] mvz commented on #68
@shaw3257 is there a way to reproduce this that does not involve manually setting the `paranoid_value`?

[2021-04-24 13:29] mvz commented on #66
@avinoth what were you trying to achieve that didn't work because of this?

[2021-04-24 14:06] mvz commented on #77
This was fixed in #147.

[2021-04-24 14:06] #77 closed

[2021-04-24 14:57] mvz opened #221 "Emulate difference between `destroy` and `destroy!` in default ActiveRecord"
In ActiveRecord, `destroy!` raises `ActiveRecord::RecordNotDestroyed` if `before_destroy` aborts, whereas `destroy` just returns `false`. ActsAsParanoid should do the same.

[2021-04-24 23:21] tjozwik commented on #216
Thanks for your reply, @mvz.

New log:
[code]
After executing Task Load query (that was generated in the project recovery phase), I can see that the task is matched properly. Anyway, it hasn't been updated and `deleted_at` attribute still has the same value that had been set during the project deletion.
[code]

[2021-04-25 06:04] mvz opened #223 "Avoid loading associated object for counter cache updates"
The `update_counters_on_associations` method now always loads the associated object if it is not yet loaded, but this is not always necessary; instead of checking the object's presence we can just check its id. Changing this could be more efficient.

[2021-04-25 06:11] mvz opened #224 "Behavior of destroy on associations is not compatible with default ActiveRecord"
In default ActiveRecord, calling `destroy` on a many-to-many association always destroys both the join row and the joined record:

* Rails 5.2: https://api.rubyonrails.org/v5.2/classes/ActiveRecord/Associations/CollectionProxy.html#method-i-destroy
* Rails 6.0: https://api.rubyonrails.org/v6.0/classes/ActiveRecord/Associations/CollectionProxy.html#method-i-destroy
* Rails 6.1: https://api.rubyonra

[2021-04-25 08:16] mvz commented on #216
I was able to reproduce this with an otherwise empty Rails app. What happens is that recovery of Task fails silently because the `belongs_to` adds a validation that Project must exist. Since the Tasks are recovered before the Project, validation fails.

[2021-04-25 08:17] mvz commented on #66
This may be related to #216.

[2021-04-25 09:02] mvz opened #225 "Setting `:double_tap_destroys_fully` should apply to methods on relations as well"
The `:double_tap_destroys_fully` setting currently only works for `destroy` on models, but methods like `delete_all` on relations still always destroy fully on a second call. This behavior should be made consistent.

[2021-04-25 09:40] mvz commented on #216
This problem did not surface in ActsAsParanoid's tests because Rails' default setting that makes belongs_to relations required by default is part of Rails and not of ActiveRecord: https://github.com/rails/rails/blob/8210d0a9d8a632fefc46b7b7d4b957b051a79d93/railties/lib/rails/application/configuration.rb#L91

[2021-04-25 11:01] #216 closed

[2021-04-25 11:09] mvz commented on #90
I can't reproduce this.

@MuhammadRazaAslam do you still experience this issue? If so, can you please provide a clear way to reproduce this error, as well as details on what exception is thrown?

[2021-04-25 11:12] mvz commented on #91
There was an issue with recovering children that had (automatic) validation on presence of the parent. This has been fixed in #227.

[2021-04-25 11:12] #91 closed

[2021-04-25 11:14] mvz commented on #111
Closing due to lack of feedback from the original poster.

[2021-04-25 11:14] #111 closed

[2021-04-25 12:06] mvz opened #228 "Remove deprecated methods for the 0.8.0 release"
- `destroy!` on associations: see #82 and #222.
- `:recovery_value` setting: see #72 and #220.

[2021-04-25 13:05] mvz commented on #82
The `destroy!` method on collections has been deprecated and will be removed in version 0.8.0.

[2021-04-25 13:11] #72 closed

[2021-04-25 13:18] mvz commented on #155
What I expect to happen is that all users will become deleted, but they can still be found from the `users` collection since that collection always also includes the deleted users.

@vitalinfo can you confirm whether the user objects have themselves been destroyed?

[2021-04-25 14:03] mvz commented on #98
I think this happened because when the call to `acts_as_paranoid` happens the prefix hasn't been set yet. This problem was fixed by #131.

[2021-04-25 14:03] #98 closed

[2021-04-25 19:21] mvz commented on #166
This is probably fixed by #227.

[2021-04-25 19:38] mvz commented on #202
If you start from `Provider` you only get scopes that are defined in `Provider`. Since `Provider` is not paranoid, it does not provide the `with_deleted` scope. Even after `.joins(:licenses)`, you still will not get scopes defined in `License`.

There's an open issue about the ability to specify that joined relations should include deleted records here: #110.

[2021-05-02 14:01] mvz commented on #122
This seems related to #110.

[2021-05-02 14:27] mvz commented on #130
@frostblooded and @shadydealer the order of recovery has changed in version 0.7.3. Can you please check if the problem still occurs with that version?

[2021-05-02 14:47] mvz commented on #141
I think the main advice should be to actually measure what happens with your actual database containing your actual data.

Telling people what to do in the README is presuming too much knowledge of users' production systems.

Maybe we can point people with such practical questions to stackoverflow?

[2021-05-02 17:00] mvz commented on #139
I'm afraid I still can't reproduce this. When I look in the logs, the validation queries also don't include a `deleted_at` condition. You can see the default scope is removed here: https://github.com/rails/rails/blob/5-1-stable/activerecord/lib/active_record/validations/uniqueness.rb#L53.

If you can create a full minimal working app that shows this problem, or just a pull request with a failing t

[2021-05-03 07:37] frostblooded commented on #130
Unfortunately, I no longer have access to that code, but maybe @shadydealer can check it out.

[2021-05-03 16:21] dlinch commented on #139
@mvz I'm closing this issue. I just checked locally and it seems to be working. I was having a lot of issues with my paranoid logic, but I found out recently, like last week, there was a really old paranoia library in the codebase in addition to `acts_as_paranoid`. I'm fairly certain the conflicting libraries are what was exhibiting some of the strange behavior I was seeing, including the behavior

[2021-05-03 16:21] #139 closed

[2021-05-04 10:28] Timmitry opened #232 "Association building broken with upgrade to 0.7.0"
When upgrading this gem from `0.6.3` to `0.7.0`, I noticed a regression when building associations without saving them.

I *think* it was caused by this Changelog entry:

What fails is e.g. the following scenario:

[code]

The above example does return the `order` in `0.6.3`, but not in `0.7.0`. It does work when removing the `with_deleted: true` option from the association.

I will open a PR with

[2021-05-15 15:13] mvz commented on #139
@dlinch no problem. Thanks for checking again and figuring out what the problem was. It's good to be aware that paranoia and ActsAsParanoid can cause a conflict.

[2021-05-21 12:42] Jay-Schneider opened #234 "FeatureRequest: Global default options configuration"
It is fairly common to use the same options over and over in all paranoid models. Like, if you decide to use boolean values for the `deleted` column it is likely that you do that for all models not only for some.
Recently I added `double_tap_destroys_fully: false` to all of the `acts_as_paranoid` calls in different models because we decided that this is some behaviour we actually don't want to hav

[2021-06-04 19:59] jprince commented on #205
@unlimit I know this is a few months old, but I was experiencing a similar issue and upgrading to v0.7.3 resolved it.

[2021-06-05 21:48] mvz commented on #205
@unlimit can you confirm that acts_as_paranoid 0.7.3 resolves your problem?

[2021-06-29 15:43] dgonzalezvts commented on #112
does this still happen in rails 6.1?

[2021-06-29 16:03] mvz commented on #112
I think so.

[2021-07-12 04:20] leomayleomay commented on #221
@mvz thank you for bringing this up, any plan on this? cheers

[2021-07-12 07:00] mvz commented on #221
No, there's no work in progress on this. Pull requests welcome, of course.

[2021-07-12 22:37] leomayleomay commented on #221
@mvz PR filed https://github.com/ActsAsParanoid/acts_as_paranoid/pull/240, please help to review, cheers

[2021-07-16 17:01] mvz commented on #121
This probably depends a lot on the specific database. From some shallow research, it seems that
- PostgreSQL allows indexing on just the date part of the timestamp
- MySQL can use a datetime index just fine

So, I don't see the need for this added complexity. If there are issues with a specific query, feel free to create a new ticket.

[2021-07-16 17:01] #121 closed

[2021-07-18 10:53] mvz commented on #221
Fixed in #240

[2021-07-18 10:53] #221 closed

[2021-07-19 06:38] #112 closed

[2021-07-30 16:32] #228 closed

[2021-07-30 16:34] mvz commented on #82
The deprecated `#destroy` method has now been removed. This change will be released in version 0.8.0.

[2021-07-30 16:34] #82 closed

[2021-08-31 19:27] #90 closed

[2021-10-13 23:29] oofdog opened #253 "Calling delete then recover on the same object doesn't recover has_many/dependent relationships"
Using rails 6.0 e.g.

[code]

[2021-10-26 09:34] benoittgt opened #254 "Honor foreign key constraint violation"
Hello

This is not an issue but more a feature request and a discussion.

I have a table with a foreign key constraint to another table entry. The problem is `acts_as_paranoid` skips constraint CHECK because destroyed record are only updated.

I would like to know if it could be a good idea to add an option to delete and rollback the transaction and properly raise the foreign key constraint violat

[2021-10-28 12:50] #254 closed, assigned to nobody

[2021-11-11 16:51] jshah commented on #205
I was getting `NoMethodError: undefined method `equality?'` when using `only_deleted` and upgrading to `v0.7.3` fixed it for me.

[2021-11-12 08:36] mvz commented on #205
@jshah how is that related to the original bug report?

[2021-12-16 19:00] mvz opened #265 "Release with Rails 7 support"
Rails 7 support was added in #262. A new version should be released.

[2021-12-17 09:05] meal commented on #265
Hey @mvz - any date when we could expect the newest release?

[2021-12-17 09:15] mvz commented on #265
@meal probably this weekend.

[2021-12-17 17:48] mvz commented on #265
Done!

[2021-12-17 17:48] #265 closed

[2021-12-24 14:04] vitalinfo opened #267 "Question: Skip recover functionality"
@mvz What do you think about skip recover functionality?
This feature could be helpful for nested objects, where you will be able to mark object as skippable for recover (in the `before_recover` hook)
If you approve it, I can prepare the PR with implementation

[2021-12-24 14:21] mvz commented on #267
Hi @vitalinfo I'm not sure what you have in mind. Can you give a code example of how this would be used?

In any case, you can prevent nested objects from being recovered by using `parent.recover(recursive: false)`, and then recover selected nested objects manually.

[2021-12-25 10:56] vitalinfo commented on #267
@mvz yes, you are right for common case, but if you need some additional logic, like:
you have a user, user has f.e. comments, both models are paranoid. User is able to remove comment and user could be removed as well. On user recover we need to recover all his comments, except comments which user removed by him self.

[2021-12-28 06:47] mvz commented on #267
Assuming that you have some way to know which comments were deleted by the user, that would be something like:
[code]

[2021-12-29 09:14] vitalinfo commented on #267
@mvz yes, this will work, but if user model has a lot of associations, the recover complexity will be huge

[2021-12-29 09:23] mvz commented on #267
@vitalinfo and how will this feature help with that? What would the code look like?

[2021-12-29 09:25] vitalinfo commented on #267
I'll do this feature, in worse case I'll use fork in my project

[2022-01-13 14:41] traineira opened #270 "Recover when junction table record exists rather than creating a new one"
Is there a way to recover a deleted record that matches the two primary keys rather than creating a new record with the exact same values, but deleted_at set as NULL?

[2022-03-02 06:22] allencch commented on #59
In case someone has same issue when using `with_deleted: true`, the (alternative) solution is

[code]

[2022-03-02 08:14] mvz commented on #59
@allencch I'm going to ask you the same question as I asked @puntodamar2: Do you see this problem with `with_deleted: true` in the current release of acts as paranoid?

[2022-03-02 16:16] allencch commented on #59
@mvz , I just found that I was confused with the gem `acts_as_paranoid` and `paranoia`, as Google search leads to this thread.

The solution above supposes to work on `paranoia` gem instead of `acts_as_paranoid`. Sorry for the confusion.

[2022-03-02 16:32] mvz commented on #59
No problem, thanks for getting back to me @allencch.

[2022-04-04 18:07] skukx commented on #232
I'm not sure I follow that logic. This bug only occurs after upgrading `acts_as_paranoid`. No rails upgrades or changes implemented. I'm experiencing the same issue with a project I'm currently working on. This bug is preventing us from being able to upgrade from `0.6.2` to `0.8.0`. Again, not convinced this is an ActiveRecord problem

[2022-04-09 09:46] mvz commented on #232
I've checked and the behavior in `0.6.2` with the `:with_deleted` option matched the default Rails behavior with non-paranoid models.

My preliminary understanding is that unscoped associations automatically set up the inverse relation, whereas scoped ones do not. That's why the change in #147 broke the old behavior: Use of `:with_deleted` now automatically makes it a scoped relation.

In a sense,

[2022-04-20 09:59] rohitjoshixyz opened #279 "recover! method raises validation error even if record is valid. Using recover works properly"
[code]

[2022-04-22 15:44] #232 closed

[2022-04-22 15:57] mvz commented on #232
A fix for this has just been released in version 0.8.1.

[2022-05-01 09:35] mvz commented on #66
Closing this since #216 was fixed and no info was received on this issue.

[2022-05-01 09:35] #66 closed

[2022-05-01 09:38] mvz commented on #68
Closing this since setting `paranoid_value` manually is not supported (the setter is private after all), and no further info was received.

[2022-05-01 09:38] #68 closed

[2022-05-01 09:44] mvz opened #280 "Possible conflict between acts_as_paranoid and newrelic_rpm"
In #93, @glindsey wrote:

[2022-05-01 09:44] mvz commented on #93
Closing this as there was no more feedback on the original issue. @glindsey I moved your problem to a new issue: #280.

[2022-05-01 09:44] #93 closed

[2022-05-01 09:46] mvz commented on #155
Closing this since no more info was received.

[2022-05-01 09:46] #155 closed

[2022-06-08 19:28] heaven opened #282 "with_deleted unscopes everything when joining multiple associations"
We have Subscriptions, Products, Prices, and AddOns.

[code]

When I access `@subscription.subscription_addons` everything is great and it returns only `SubscriptionAddons` where deleted_at is null.

But when I need to access `@subscription.addons`, the response also includes `Products` joined through already deleted `SubscriptionAddons`. In other words `with_deleted` that I apply to `belongs_to :

[2022-06-10 22:53] pboling opened #283 "`only_deleted` doesn't work sometimes(?)"
I am not sure what causes this, but here is the symptom of the problem:
[code]
I would expect `only_deleted` + natural = `with_deleted`.  There are truly that number of deleted records, but when using `only_deleted` the count is `0`.

This is my first attempt to use `only_deleted`, so maybe it doesn't work all the time... Don't know.  The relationship isn't a basic `has_many`, but a `has_many :thr

[2022-06-17 18:26] pierry01 opened #284 "Does not destroy ActiveStorage"
Hello everyone!

Is there a way to `.destroy` or `.destroy_all` record(s) without delete the ActiveStorage association?
Example: `Product.last` has `2 images` attached

`Product.last.destroy`
`Product.last.deleted_at` -> `Time.current`

Current behavior: `Product.last.images.count` -> 0
Expected behavior: `Product.last.images.count` -> 2

[2022-06-18 11:37] mvz commented on #284
Hi @pierry01 I edit your title a bit because it seemed to be saying the opposite of the body of your issue. Let me know if I misunderstood somehow.

[2022-07-13 08:30] wangxinyun1995 opened #285 "Why can not use like this User.first.update!(deleted_at: Time.now)"
[code]

[2022-07-13 08:49] mvz commented on #285
Deleted models are immutable in Rails. Just use `User.first.destroy` instead.

[2022-07-13 08:49] #285 closed

[2022-07-13 18:45] kroehre commented on #282
I just encountered this as well. @heaven were you able to find a workaround?

[2022-07-18 18:43] kroehre commented on #282
@mvz could this be related to https://github.com/ActsAsParanoid/acts_as_paranoid/pull/277 ?

[2022-08-11 22:14] pierry01 commented on #284
@mvz sorry for the delay. The title is correct now, thanks!!!

You understood the problem.
Does it make sense to implement a solution for this?

[2022-08-12 08:08] mvz commented on #284
@pierry01 I think the associations should always be kept until the model is fully destroyed. See also the discussion in #103.

[2022-10-12 17:04] fmichaut-diff opened #290 "Add `with_deleted: true` for has_many relationships"
Currently, you can create a model with `with_deleted: true` if you want this model to still show deleted records, but only for `belongs_to` assotiations.
[code]
The second exemple currently raises this error
[code]

In some cases, we might want to be able to use `with_deleted: true` for has_many relationships. Exemple:
[code]
In this situation, if I delete an item from an order (let's say the cust

[2022-10-12 17:20] pilgunboris commented on #290
@fmichaut-diff try defining your association with `{ with_deleted }` scope like this:
[code]

[2022-10-31 22:51] edruder opened #293 "The documentation for column_type: 'boolean', allow_nulls option is incorrect"
The documentation states:

This is incorrect–the value of the `allow_nulls` option is `false` by default.

[2022-11-30 00:13] anujbiyani commented on #45
I've got a maybe-legitimate reason to update a soft-destroyed record:
Take an app with posts and comments on those posts (aka simple threading), and the ability to soft-destroy a post. I have an API that wants to sort threads (posts and their comments) based on latest activity. To do this, any time someone creates a post or comments on a post, a column on the post is updated with a timestamp.

If